{% extends 'base.html.twig' %}

{% block title %}shoppingCart{% endblock %}

{% block body %}
    <h1>School selection</h1>

    <h2>Sessions</h2>
    {#<p>{{ app.session.get('name') }}</p>
    {{ user }}
    {% for flashMessage in app.session.flashbag.get('error') %}
        {{ flashmessage }}
    {% endfor %}#}

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Tuition</th>
            <th>Country</th>
            <th>newTuition</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for school in schools %}
            <tr>
                <td>{{ school.name }}</td>
                <td>{{ school.tuition }}</td>
                <td>{{ school.country }}</td>
                <td>{{ tuitionCalc(school.tuition, school.country) }}</td>
                <td><a href="{{ path('order', {'schoolId': school.id}) }}"><button class="btn-primary">Order</button></a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}