{% extends 'base.html.twig' %}

{% block title %}School{% endblock %}

{% block body %}
    <h1>Order School</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Tuition</th>
            <th>Country</th>
            <th>newTuition</th>
        </tr>
        </thead>
        <tbody>
        {% for school in schools %}
            <tr>
                <td>{{ school.name }}</td>
                <td>{{ school.tuition }}</td>
                <td>{{ school.country }}</td>
                <td>{{ tuitionCalc(school.tuition, school.country) }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    <td><a href="{{ path('cart_buy') }}"><button class="btn-primary">Bestellen</button></a></td>
{% endblock %}