{% extends 'base.html.twig' %}

{% block title %}TakeOrder index{% endblock %}

{% block body %}
    <h1>TakeOrder index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>PlacedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for take_order in take_orders %}
            <tr>
                <td>{{ take_order.id }}</td>
                <td>{{ take_order.placedAt ? take_order.placedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('take_order_show', {'id': take_order.id}) }}">show</a>
                    <a href="{{ path('take_order_edit', {'id': take_order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('take_order_new') }}">Create new</a>
{% endblock %}
